@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 *  Location bar
 */

/* Disable IME mode in Location bar and Keysnail prompt */
#urlbar *|input,
#keysnail-prompt-textbox *|input
{
    ime-mode: inactive !important;
}

/* Translucent menu */
#PopupAutoCompleteRichResult[type="autocomplete-richlistbox"] {
    opacity: 0.96 !important;
}

/**
 * Keyword addition for Add/Change Bookmark
 * @see http://userstyles.org/styles/9029/keyword-addition-for-add-change-bookmark-fx3
 */
#editBMPanel_keywordRow,
#editBMPanel_descriptionRow,
#editBMPanel_locationRow,
#editBMPanel_loadInSidebarCheckbox {
    visibility: visible;
}

#editBMPanel_tagsSelector[collapsed="true"] {
    display:none !important;
}

/* Local Variables: */
/* mode: css */
/* coding: utf-8 */
/* indent-tabs-mode: nil */
/* End: */
