/* -*- mode: css; coding: utf-8; indent-tabs-mode: nil -*- */

@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Disable IME mode in location bar */
#urlbar *|input { ime-mode: inactive !important; }

/* Translucent context menu */
#PopupAutoCompleteRichResult[type="autocomplete-richlistbox"] {
    opacity: 0.96 !important;
}

/* Hide items in context menu */
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-sep-stop,             /* Line separator */
#context-sendpage,             /* Send page in an email */
#context-sendlink,             /* Send a link in an email */
#context-sendimage,            /* Send an image in a email */
#context-setDesktopBackground, /* Set an image as the desktop background */
#context-blockimage,           /* Block an image */
#context-viewbgimage,          /* View background image */
#context-viewpartialsource-selection, /* View Selection Source */
#context-viewpartialsource-mathml,    /* View MathML Source */
#context-sep-viewsource,       /* Line separator */
#context-viewsource,           /* View Page Source */
#context-viewinfo,             /* View Page Info */
#inspect-separator,            /* Line separator */
#context-inspect,              /* Inspect Element */
#context-inspect + menuseparator
{
    display: none!important;
}

/* Hide frame items in context menu */
#context-printframe + menuseparator, /* Line separator */
#context-viewframesource,            /* View Frame Source */
#context-viewframeinfo               /* View Frame Info */
{
    display: none!important;
}

/* Hide Add-on's items in context menu */
#RIL_context_clickMode          /* Read It Later */
{
    display: none!important;
}

/* Keyword addition for Add/Change Bookmark
 * @see http://userstyles.org/styles/9029/keyword-addition-for-add-change-bookmark-fx3 */
#editBMPanel_keywordRow,
#editBMPanel_descriptionRow,
#editBMPanel_locationRow,
#editBMPanel_loadInSidebarCheckbox {
    visibility: visible;
}

#editBMPanel_tagsSelector[collapsed="true"] {
    display:none !important;
}
